h1 {
  text-align: center;
  margin-bottom: 10px;
}
.date {
  font-weight: normal;
  font-size: 23px; 
}
.cost {
  font-size: 20px; 
}
.marginsLvl1 {
  margin-left: 10px;
}
.marginsLvl2 {
  margin-left: 30px;
}
.marginsLvl3 {
  margin-left: 50px;
}
input[type="text"] {
  width: 100px; 
  margin-bottom: 10px;
  margin-right:10px;
}
input[type="button"] { 
  margin-right:15px;
}

.tripBox {
  width: 100%;
  background-color: lightgreen;
  border: 1px solid black;
}